
@{
    ViewData["Title"] = "Index";
}

<div class="right_col" role="main">

    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <div class="row top_tiles">
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-comment"></i></div>
                        <div class="count">@ViewBag.DocumentoCount</div>
                        <h3>Certificados</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-book"></i></div>
                        <div class="count">@ViewBag.ContratoCount</div>
                        <h3>Contratos</h3>
                    </div>
                </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-address-book"></i></div>
                        <div class="count">@ViewBag.DocumentoCount</div>
                        <h3>Documentos</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <!-- PNotify -->
    <script src="~/lib/pnotify/dist/pnotify.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/lib/pnotify/dist/pnotify.nonblock.js"></script>

    <script>
        $(document).ready(function () {
            $('.ui-pnotify').remove();
        });

        $(function () {
            var myStack = { "dir1": "down", "dir2": "right", "push": "top" };
            new PNotify({
                title: 'Atenção!',
                text: 'Possui documentos, certificados e contratos proximos a vercer. Verifique e regularize a pendência.',
                type: 'info',
                styling: 'bootstrap3',
                addclass: 'dark',
                stack: myStack
            })
        });
    </script>
}



